body{
    background-color: #f2F4F6;
}

.navbar-turquoise{
    background-color: #4ECDC4;
    padding-top: 28px;
    padding-bottom: 28px;
    box-shadow: 10px 5px 5px black;
}

.navbar-white{
    background-color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 5px 2px 5px #EFEFEF;
}

.nav-link{
  margin-left: 25px;
  background-color: #121212;
  padding: 10px 28px 10px 28px!important;
  font-size: 15px!important;
  color: #FFF!important;
  border-radius: 24px;
}

.nav-link:hover{
	background-color: #4ECDC4;
	color: #FFF!important;
	}

/*
  MARGINS
*/
.top-10{ margin-top: 10px; }
.top-15{ margin-top: 15px;}
.top-50{
	margin-top: 50px;
}
.top-80{
	margin-top: 80px;
}

.top-100{
	margin-top: 100px;
}


.bg-white-rounded{
	background-color: #FFFFFF;
	border: 1px solid #EDEDED;
	border-radius: 5px;
	padding: 20px;
}

.product-link{
    font-size: 18px;
    font-weight: 600;
    color: #4ECDC4;
    text-decoration: none;
    text-transform: capitalize;
}

.cart-add{
    background-color: #4ECDC4;
    padding: 10px 15px;
    border-radius: 5px;
    color: #FFFFFF;
}

.white-rounded{
    background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #EFEFEF;
    padding: 10px;
    margin-bottom: 15px!important;
    margin-bottom: 15px!important;
}

.cart-product{
    margin-top: 15px;
    font-size: 17px;
    font-weight: 500;
}

.input-number{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 35px;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    width: 180px;
    height: 45px;
}

.increase{
    border-radius: 2px;
    width: 32px;
    height: 32px;
    background-color: #EDEDED;
    margin: 5px;
    text-align: center;
    border: none!important;
}

button.increase:hover{
	background-color: #222222;
	color: #FFFFFF;
}

button.decrease{
    border-radius: 2px;
    width: 32px;
    height: 32px;
    background-color: #EDEDED;
    margin: 5px;
    text-align: center;
    border: none!important
}
button.decrease:hover{
    background-color: #222222;
    color: #FFFFFF;
}

.quantity{
    border-radius: 4px;
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    margin: 5px;
    text-align: center;
    padding-top: 7px;
    font-size: 11px!important;
}
.subtotal{
    font-size: 13px;
    font-weight: 400;
    margin-top: 20px;
    margin-right: 10px;
}

.total{
    font-size: 13px;
    font-weight: 400;
    margin-top: -14px;
    margin-right: 10px;
}


.dropdown-menu{
    margin-top: 10px!important;
}

a.dropdown-item{
    font-size: 13px!important;
    background-color: #FFFFFF!important;
}

a.dropdown-item:hover{
    color: #4ECDC4;
}